
/Source/Web/DeanIS.YBSquare.Tests/bin
/Source/Web/DeanIS.YBSquare.Tests/obj
/Source/Web/DeanIS.YBSquare.Web/bin
/Source/Web/DeanIS.YBSquare.Web/obj
/Source/Web/DeanIS.YBSquare.WebSite/bin
/Source/Web/DeanIS.YBSquare.WebSite/obj
/Source/Api/DeanIS.YBSquare.Api.Tests/bin
/Source/Api/DeanIS.YBSquare.Api.Tests/obj
/Source/Api/DeanIS.YBSquare.Api/bin
/Source/Api/DeanIS.YBSquare.Api/obj
/Source/shared/DeanIS.Framework.Testing/bin
/Source/shared/DeanIS.Framework.Testing/obj
/Source/shared/DeanIS.Net.Apis/bin
/Source/shared/DeanIS.Net.Apis/obj
/Source/shared/DeanIS.Net.Tests/bin
/Source/shared/DeanIS.Net.Tests/obj
/Source/shared/DeanIS.Net/bin
/Source/shared/DeanIS.Net/obj
/Source/shared/DeanIS.Web.Mvc/bin
/Source/shared/DeanIS.Web.Mvc/obj
/Source/shared/DeanIS.YBSquare.DataAccess/bin
/Source/shared/DeanIS.YBSquare.DataAccess/obj
/Source/shared/DeanIS.YBSquare.DataTypes/bin
/Source/shared/DeanIS.YBSquare.DataTypes/obj