<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="ybsquareEntities" connectionString="metadata=res://*/YbSquareModel.csdl|res://*/YbSquareModel.ssdl|res://*/YbSquareModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=lapdance;Initial Catalog=ybsquare;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>